.dummy {

    
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    .logo {
        width: 150px;
        height: auto;
    }
    .fromStore {
        width: 100%;
        height: auto;
        
    }
    :hover {
        cursor: pointer;
    }

    h5 {
        font-size: 25px;
        line-height: 50px;
    }

    span {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }
   
}

