.header {

    grid-area: h;
    background:black;
    height: 30px;
    color: white;
    padding-left: 50px;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding-top:1px;
    h1 {
        height: 100%;
        line-height: 30px;
    }
}