* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

  .slidersWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  
 


.slideBox {
  width: 350px;
  border: 1px solid gray;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  .slick-arrow {
    color:black;   
  }
  .slick-next:before, 
  .slick-prev:before {
    z-index: 20;
    color: darkgray;
    content: "<";
    font-size: 30px;
  }

  .slick-next:before {
    content: ">"
  }


  .slick-next {
    right: 0;
    z-index: 20;
  }
  .slick-prev {
    left: 0;
    z-index: 20;
  }
  img {
    width: 300px;
    height: auto;
    margin: auto;
  }
  p {
    font-size: 15px;
    margin-top: 10px;
  }
  span {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
     }
    span:hover {
      cursor: pointer;
    }
  

}